<ion-header>
    <ion-toolbar color="primary"  align-title="center">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Dashboard
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col size="10" offset="1" class="points-title">
            <ion-text >
              <h1>Punten</h1> 
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="10" offset="1">
              <ion-text>
                    <p class="points-text">
                      Alle Punten:
                      <ion-note slot="end">
                        <ion-chip color="secondary" class="points-float-right">
                            <ion-label>100 punten</ion-label>
                          </ion-chip>
                      </ion-note>
                    </p>
              </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="10" offset="1" class="points-title">
                <ion-text >
                  <h1>Laatst behaalde badges</h1> 
                </ion-text>
              </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" offset="1">
              <ion-item>
                  <ion-thumbnail slot="start"> 
                      <img src="https://vignette.wikia.nocookie.net/james-camerons-avatar/images/e/e7/Neytiri_profiel_HD.jpg/revision/latest?cb=20100227133657&path-prefix=nl"/>
                  </ion-thumbnail>
                  <ion-label text-wrap>
                    <h3>Mieren badge I</h3>
                    <p> Deze mieren badge speel je vrij wanneer je een soort mier gevangen hebt!</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                    <ion-thumbnail slot="start"> 
                        <img src="https://vignette.wikia.nocookie.net/james-camerons-avatar/images/e/e7/Neytiri_profiel_HD.jpg/revision/latest?cb=20100227133657&path-prefix=nl"/>
                    </ion-thumbnail>
                    <ion-label text-wrap>
                      <h3>Mieren badge II</h3>
                      <p> Deze mieren badge speel je vrij wanneer je twee soorten mieren gevangen hebt!</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-thumbnail slot="start"> 
                        <img src="https://vignette.wikia.nocookie.net/james-camerons-avatar/images/e/e7/Neytiri_profiel_HD.jpg/revision/latest?cb=20100227133657&path-prefix=nl"/>
                    </ion-thumbnail>
                    <ion-label text-wrap>
                      <h3>Mieren badge III</h3>
                      <p> Deze mieren badge speel je vrij wanneer je drie soorten mieren gevangen hebt!</p>
                    </ion-label>
                </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      

  
</ion-content>
