.points-title {
    border-bottom: lightgray 1px solid;
    font-weight: bold;
    margin-bottom: 20px
}

.points-title h1 {
    font-weight: bold;
    margin-bottom: 10px
}

.points-float-right {
    float: right;
    top: -13px;
}

.points-text {
    font-size: 14px;
    font-weight: 200;
}